/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 90%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.jumbotron-game{
  height: 200px;
}

@media screen and (max-width: 800px) {
  .col1 {   
    width: 100%;
    padding: 0;
  }
}