.button-control {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-control > button > img {
  width: 150px;
  height: 60px;
  cursor: pointer;
}

.button-control > button > a > img {
  width: 150px;
  height: 60px;
  cursor: pointer;
}

.button-control > button {
  padding: 30px;
  background: none;
  outline: none;
  border: none;
}

.modal__rules > button {
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.button-control > button:hover {
  padding-right: 20px;
}
