.header__game {
  align-items: center;
  width: 100%;
  height: fit-content;
}

.header__title {
  display: flex;
  width: 30%;
  height: 50px;
  place-items: center;
}

.header__title > a {
  margin-right: 50px;
  padding-left: 40px;
  border: none;
  border-radius: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.header__title > a > img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}

.header__title > a > img:hover {
  height: 50px;
  width: 40px;
  border-radius: 999px;
}

.header__title > img {
  width: 80%;
  height: 55px;
  place-items: center;
  margin-top: 30px;
}
